# Data pre-processing

In [1]:
import pandas as pd

In [2]:
#Importing all the Yelp docuemnts to create a merged one
lifeline_1_y = pd.read_csv('../data/Yelp/Lifeline_1.csv')
lifeline_2_y = pd.read_csv('../data/Yelp/Lifeline_2.csv')
lifeline_3_y = pd.read_csv('../data/Yelp/Lifeline_3.csv')
lifeline_4_y = pd.read_csv('../data/Yelp/Lifeline_4.csv')
lifeline_5_y = pd.read_csv('../data/Yelp/Lifeline_5.csv')
lifeline_6_y = pd.read_csv('../data/Yelp/Lifeline_6.csv')
lifeline_7_y = pd.read_csv('../data/Yelp/Lifeline_7.csv')
j_lfl = pd.read_csv('../data/Yelp/Julian_Lifelines.csv')
e_lfl = pd.read_csv('../data/Yelp/Escondido_Lifelines.csv')

In [3]:
j_lfl.head()

,Unnamed: 0,business,category,address,lat,long,lifeline
0,0,US Post Office,postoffices,"11251 Rancho Carmel Dr', 'San Diego, CA 92199",32.983006,-117.081886,1
1,1,US Post Office,postoffices,"1785 Highway 78', 'Julian, CA 92036",33.076410,-116.598384,1
2,2,San Diego Sheriff's Department Julian Substation,policedepartments,"2907 Washington St', 'Ste C', 'Julian, CA 92036",33.076970,-116.603440,1
3,3,Cal Fire - Warner Springs,firedepartments,"31049 Hwy 79', 'Warner Springs, CA 92086",33.273196,-116.644263,1
4,4,US Post Office,postoffices,"2127 Arnold Way', 'Alpine, CA 91901",32.835122,-116.768544,1

In [4]:
lifeline_6_y.head()

,Unnamed: 0,business,category,address,lat,long,lifeline
0,0,City Captain Transportation,taxis,"3200 Adams Ave', 'Ste 105', 'San Diego, CA 92116",32.763692,-117.124766,6
1,1,Aall In Limo & Party Bus,limos,"655 W Broadway', 'Ste 1300', 'San Diego, CA 92101",32.715375,-117.168598,6
2,2,Gold Coast Town Car Services,limos,"San Diego, CA 92168",32.768551,-117.148399,6
3,3,Top Dog Limo Bus,limos,"1103 Emerald St', 'San Diego, CA 92109",32.799430,-117.250300,6
4,4,Limo Kings Limousine Service,limos,"4365 Mission Bay Dr', 'San Diego, CA 92116",32.801606,-117.158483,6

In [5]:
lifeline_7_y.head()

,Unnamed: 0,business,category,address,lat,long,lifeline
0,0,Clean Green Hauling,junkremovalandhauling,"San Diego, CA 92109",32.795220,-117.237660,6
1,1,Miramar Landfill,recyclingcenter,"5180 Convoy St', 'San Diego, CA 92111",32.836693,-117.152311,6
2,2,SES Secure E-Waste Solutions,recyclingcenter,"8810 Rehco Rd', 'Ste C', 'San Diego, CA 92121",32.882600,-117.171130,6
3,3,Envirogreen Recycling,recyclingcenter,"9596 Chesapeake Dr', 'Ste B', 'San Diego, CA 9...",32.834689,-117.122510,6
4,4,Manos Hauling and Recycling,junkremovalandhauling,"6974 Mission Gorge Rd', 'San Diego, CA 92120",32.800607,-117.091474,6

In [6]:
lifeline_7_y['lifeline'] = 7

In [7]:
lifeline_7_y.tail()

,Unnamed: 0,business,category,address,lat,long,lifeline
48,48,Veterans Green Projects,recyclingcenter,"826 Rancheros', 'San Marcos, CA 92069",33.139426,-117.139844,7
49,49,San Diego E-Waste,recyclingcenter,"9364 Jamacha Rd', 'Ste F', 'Spring Valley, CA ...",32.715110,-116.998140,7
50,50,Recycle for Life,recyclingcenter,"14731 Franklin St', 'Unit F', 'Tustin, CA 92780",33.715829,-117.810302,7
51,51,E-Cycle Environmental,junkremovalandhauling,"2966 E Victoria St', 'Ste 445', 'Compton, CA 9...",33.863720,-118.208820,7
52,52,Phoenix Environmental,recyclingcenter,"1101 California Ave', 'Ste 204', 'Corona, CA 9...",33.862247,-117.544029,7

### Merging the files

In [8]:
yelp = pd.concat([lifeline_1_y, lifeline_2_y, lifeline_3_y, lifeline_4_y,lifeline_5_y, lifeline_6_y, lifeline_7_y, e_lfl, j_lfl])

In [9]:
yelp.shape

(1931, 7)

In [10]:
yelp.tail();

In [11]:
yelp = yelp.drop(columns=['Unnamed: 0'])

In [12]:
yelp['data_source'] = 'yelp'

In [13]:
yelp.tail()

,business,category,address,lat,long,lifeline,data_source
130,Efr Environmental Services,demolitionservices,"Alpine, CA 91903",32.840000,-116.770000,7,yelp
131,Daily Disposal Service,junkremovalandhauling,"12637 Vigilante Rd', 'Lakeside, CA 92040",32.905430,-116.936786,7,yelp
132,Harmony Environmental Services,enviroabatement,"La Mesa, CA 91942",32.778759,-117.030167,7,yelp
133,Alliance Environmental Group,demolitionservices,"8390 Juniper Creek Ln', 'San Diego, CA 92126",32.897688,-117.146099,7,yelp
134,San Diego E-Waste,recyclingcenter,"9364 Jamacha Rd', 'Ste F', 'Spring Valley, CA ...",32.715110,-116.998140,7,yelp

In [14]:
yelp.to_csv('../data/Yelp/yelp_merge.csv')

### Importing google data

In [15]:
google_1 = pd.read_csv('../data/Google/google.csv')
google_2 = pd.read_csv('../data/Google/google_2.csv')

In [16]:
google_1.head()

,Unnamed: 0,Business Address,Latitude,Longitude,Lifeline,Business Name,Business Category
0,0,"7575 Metropolitan Drive # 103, San Diego",32.776767,-117.156606,1,Coastal Commission,local_government_office
1,1,"1010 2nd Avenue #666, San Diego",32.716252,-117.163362,1,San Diego Collection Division,local_government_office
2,2,"880 Front Street Suite 4236, San Diego",32.714326,-117.165353,1,Senator Dianne Feinstein,local_government_office
3,3,"500 3rd Avenue, Chula Vista",32.632863,-117.077294,1,Superior Court South County Division,"courthouse, local_government_office"
4,4,"8505 Aero Drive, San Diego",32.809110,-117.144154,1,Social Security Administration,local_government_office

In [17]:
google_2.head()

,Unnamed: 0,Unnamed: 0.1,Business Address,Latitude,Longitude,Lifeline,Business Name,Business Category
0,0,0,Laguna Niguel,33.522526,-117.707553,1,Synergy Corporation Housing,local_government_office
1,1,1,"325 South Melrose Drive # 2000, Vista",33.192394,-117.256683,1,Revenue & Recovery Department,"accounting, finance, local_government_office"
2,2,2,"1895 Avenida Del Oro, Oceanside",33.210861,-117.295873,1,United States Postal Service,"post_office, finance, local_government_office"
3,3,3,"1 Civic Center Drive, San Marcos",33.140447,-117.160922,1,San Marcos City Hall,"city_hall, local_government_office"
4,4,4,"325 South Melrose Drive, Vista",33.189944,-117.256518,1,Superior Court North County Division,"courthouse, local_government_office"

In [18]:
google_2 = google_2.drop(columns=['Unnamed: 0.1'])

In [19]:
google_2.head(1)

,Unnamed: 0,Business Address,Latitude,Longitude,Lifeline,Business Name,Business Category
0,0,Laguna Niguel,33.522526,-117.707553,1,Synergy Corporation Housing,local_government_office

In [20]:
google = pd.concat([google_1, google_2])

In [21]:
google.shape

(10489, 7)

In [22]:
google.head(1)

,Unnamed: 0,Business Address,Latitude,Longitude,Lifeline,Business Name,Business Category
0,0,"7575 Metropolitan Drive # 103, San Diego",32.776767,-117.156606,1,Coastal Commission,local_government_office

In [23]:
google['Lifeline'].value_counts()

2    4242
6    1419
1    1270
3    1219
4    1209
5     862
7     268
Name: Lifeline, dtype: int64

In [24]:
google.rename(columns = {'Business Category': 'category', 
                     'Business Name' : 'business', 
                     'Business Address' :  'address', 
                     'Latitude' :'lat',
                     'Longitude': 'long',
                     'Lifeline' : 'lifeline'}, inplace=True)

In [25]:
google.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10489 entries, 0 to 6717
Data columns (total 7 columns):
Unnamed: 0    10489 non-null int64
address       10488 non-null object
lat           10489 non-null float64
long          10489 non-null float64
lifeline      10489 non-null int64
business      10489 non-null object
category      8541 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 655.6+ KB

In [26]:
google.head(1)

,Unnamed: 0,address,lat,long,lifeline,business,category
0,0,"7575 Metropolitan Drive # 103, San Diego",32.776767,-117.156606,1,Coastal Commission,local_government_office

In [27]:
google.tail(1)

,Unnamed: 0,address,lat,long,lifeline,business,category
6717,10040,"1244 N 2nd St, El Cajon, CA 92021, United States",32.812329,-116.935966,7,El Cajon E-Waste,NaN

In [28]:
yelp.head(1)

,business,category,address,lat,long,lifeline,data_source
0,Hall of Justice,courthouses,"330 W Broadway', 'San Diego, CA 92101",32.716255,-117.166046,1,yelp

In [29]:
google.head(1)

,Unnamed: 0,address,lat,long,lifeline,business,category
0,0,"7575 Metropolitan Drive # 103, San Diego",32.776767,-117.156606,1,Coastal Commission,local_government_office

In [30]:
google = google.drop(columns=['Unnamed: 0'])

In [31]:
google.head(2)

,address,lat,long,lifeline,business,category
0,"7575 Metropolitan Drive # 103, San Diego",32.776767,-117.156606,1,Coastal Commission,local_government_office
1,"1010 2nd Avenue #666, San Diego",32.716252,-117.163362,1,San Diego Collection Division,local_government_office

In [32]:
google['data_source'] = 'google'

In [33]:
df = pd.concat([yelp, google], sort=False)

In [34]:
df.head(2)

,business,category,address,lat,long,lifeline,data_source
0,Hall of Justice,courthouses,"330 W Broadway', 'San Diego, CA 92101",32.716255,-117.166046,1,yelp
1,US Post Office,postoffices,"3288 Adams Ave', 'San Diego, CA 92116",32.763660,-117.123210,1,yelp

In [35]:
df.shape

(12420, 7)

In [36]:
df['lifeline'].value_counts()

2    4669
6    1729
3    1622
4    1532
1    1357
5    1160
7     351
Name: lifeline, dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12420 entries, 0 to 6717
Data columns (total 7 columns):
business       12420 non-null object
category       10472 non-null object
address        12419 non-null object
lat            12417 non-null float64
long           12417 non-null float64
lifeline       12420 non-null int64
data_source    12420 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 776.2+ KB

In [38]:
df = df.fillna('business')

In [39]:
df.shape

(12420, 7)

In [40]:
df['lifeline'].value_counts()

2    4669
6    1729
3    1622
4    1532
1    1357
5    1160
7     351
Name: lifeline, dtype: int64

### Cleaning identified outliers after maping on Tableau

In [41]:
df =df[~df.address.str.contains("VA") == True]
df =df[~df.address.str.contains("MD") == True]
df =df[~df.address.str.contains("DC") == True]
df =df[~df.address.str.contains("AZ") == True]
df =df[~df.address.str.contains("Tijuana") == True]
df =df[~df.address.str.contains("B.C.") == True]
df =df[~df.address.str.contains("Baja California") == True]
df =df[~df.address.str.contains("Rosarito") == True]
df =df[~df.address.str.contains("Sonora") == True]
df =df[~df.address.str.contains("Valle Verde") == True]
df =df[~df.address.str.contains("Rosal") == True]
df =df[~df.address.str.contains("Brandeis, CA") == True]
df =df[~df.address.str.contains("Los Angeles, CA") == True]
df =df[~df.address.str.contains("Irvine, CA") == True]
df =df[~df.address.str.contains("Corona, CA") == True]
df =df[~df.address.str.contains("Lake Elsinore, CA") == True]
df =df[~df.address.str.contains("Temacula, CA") == True]
df =df[~df.address.str.contains("Palm Desert, CA") == True]
df =df[~df.address.str.contains("Brandeis, CA") == True]
df =df[~df.address.str.contains("Avila Beach, CA") == True]
df =df[~df.address.str.contains("Eureka, CA") == True]
df =df[~df.address.str.contains("Avila Beach") == True]
df =df[~df.address.str.contains("Exeter, CA") == True]
df =df[~df.address.str.contains("Colton, CA") == True]
df =df[~df.address.str.contains("Pendlenton, CA") == True]
df =df[~df.address.str.contains("Calexico, CA") == True]
df =df[~df.address.str.contains("Murrieta, CA") == True]
df =df[~df.address.str.contains("Warner Springs, CA") == True]
df =df[~df.address.str.contains("Riverside, CA") == True]
df =df[~df.address.str.contains("El Monte, CA") == True]
df =df[~df.address.str.contains("Tustin, CA") == True]
df =df[~df.address.str.contains("Gardena, CA") == True]
df =df[~df.address.str.contains("Aguanga, CA") == True]
df =df[~df.address.str.contains("Bellflower, CA") == True]
df =df[~df.address.str.contains("Santa Ana, CA") == True]
df =df[~df.address.str.contains("Temecula, CA") == True]
df =df[~df.address.str.contains("Palm Springs, CA") == True]
df =df[~df.address.str.contains("Anaheim, CA") == True]
df =df[~df.address.str.contains("Long Beach, CA") == True]
df =df[~df.address.str.contains("Compton, CA") == True]
df =df[~df.address.str.contains("Brea, CA") == True]
df =df[~df.address.str.contains("Huntington Beach, CA") == True]
df =df[~df.address.str.contains("Capistrano, CA") == True]
df =df[~df.address.str.contains("El Camino Real, CA") == True]
df =df[~df.address.str.contains("Pendleton, CA") == True]
df =df[~df.address.str.contains("Pendleton North, CA") == True]
df =df[~df.address.str.contains("Bonsall, CA") == True]
df =df[~df.address.str.contains("Thousand Palms, CA") == True]
df =df[~df.address.str.contains("Hot Springs, CA") == True]
df =df[~df.address.str.contains("Jamul, CA") == True]
df =df[~df.address.str.contains("Jamul") == True]
df =df[~df.address.str.contains("IL") == True]
df =df[~df.address.str.contains("Montecito Road") == True]
df =df[~df.address.str.contains("Echeverría") == True]
df =df[~df.address.str.contains("Colonia") == True]
df =df[~df.address.str.contains("Carretera") == True]
df =df[~df.address.str.contains("Tecate") == True]
df =df[~df.address.str.contains("Herrera") == True]
df =df[~df.address.str.contains("Calle") == True]
df =df[~df.address.str.contains("Avenida") == True]
df =df[~df.address.str.contains("Ontario, CA") == True]
df =df[~df.address.str.contains("San Gabriel, CA") == True]
df =df[~df.address.str.contains("Fullerton, CA") == True]
df =df[~df.address.str.contains("Orange, CA") == True]
df =df[~df.address.str.contains("San pablo") == True]
df =df[~df.address.str.contains("Mexicali") == True]
df =df[~df.address.str.contains("Valle de las Palmas") == True]
df =df[~df.address.str.contains("Valencia") == True]
df =df[~df.address.str.contains("Lazaro Cardenas") == True]
df =df[~df.address.str.contains("Nayarit") == True]

In [42]:
df.shape

(11266, 7)

In [43]:
df.drop_duplicates(subset=['lat','long'], inplace=True)

In [44]:
df.shape

(9760, 7)

In [45]:
df['lifeline'].value_counts()

2    3858
3    1268
6    1251
4    1199
1    1058
5     892
7     234
Name: lifeline, dtype: int64

In [46]:
df.to_csv('../Data/final_df.csv')